<div class="container">
  <div class="header-left">
    <span>SHOE </span>
    <span>SHOP</span>
  </div>
  <div class="menu-nav header-mid">
    <div class="link">
      <a>Home</a>
    </div>
    <div class="link">
      <a>Products</a>
    </div>
    <div class="link">
      <a>Men</a>
    </div>
    <div class="link">
      <a>Women</a>
    </div>
    <div class="link">
      <a>Big Sale</a>
    </div>
    <div class="link">
      <a>News</a>
    </div>
    <div class="link">
      <a>Contact us</a>
    </div>
  </div>
  <div class="header-right">
    <div class="icon search">
      <fa-icon [icon]="faSearch"></fa-icon>
    </div>
    <div class="icon user">
      <fa-icon [icon]="faUser"></fa-icon>
    </div>
    <div class="icon cart">
      <fa-icon [icon]="faCartPlus"></fa-icon>
    </div>
  </div>
</div>
