<div class="container-header">
  <div class="header-left">
    <span>SHOE </span>
    <span>SHOP</span>
  </div>
  <div class="menu-nav header-mid">
    <div class="link">
      <a routerLink="/home">Home</a>
    </div>
    <div class="link product-list">
      <a routerLink="/product">Products</a>
      <div class="product-list-shoe">
        <div class="men">
          <ul>
            <li class="title head-men">MEN</li>
            <li>Sneaker</li>
            <li>Sandal</li>
            <li>Boot</li>
          </ul>
        </div>
        <div class="women">
          <ul>
            <li class="title head-women">WOMEN</li>
            <li>Sneaker</li>
            <li>Sandal</li>
            <li>Boot</li>
          </ul>
        </div>
        <div class="sandal">
          <ul>
            <li class="title head-sandal">SANDAL</li>
            <li>Sneaker</li>
            <li>Sandal</li>
            <li>Boot</li>
          </ul>
        </div>
        <div class="street-wear">
          <ul>
            <li class="title head-street">STREET WEAR</li>
            <li>Sneaker</li>
            <li>Sandal</li>
            <li>Boot</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="link product-men">
      <a>Men</a>
      <div class="product-list-men">
        <div class="icon-angle">
          <fa-icon [icon]="faAngleRight"></fa-icon>
        </div>
        <div class="li-sneaker">
          <a href="">Sneaker</a>
          <div class="li-sneaker-list">
            <ul>
              <li class="nike">Nike</li>
              <li class="adidas">Adidas</li>
            </ul>
          </div>
        </div>
        <div class="li-sandal"><a href="">Sandal</a></div>
        <div class="li-boot"><a href="">Boot</a></div>
      </div>
    </div>
    <div class="link product-women">
      <a>Women</a>
      <div class="product-list-women">
        <div class="icon-angle-women">
          <fa-icon [icon]="faAngleRight"></fa-icon>
        </div>
        <div class="li-sneaker">
          <a href="">Sneaker</a>
          <div class="li-sneaker-list">
            <ul>
              <li class="nike">Nike</li>
              <li class="adidas">Adidas</li>
            </ul>
          </div>
        </div>
        <div class="li-sandal"><a href="">Sandal</a></div>
        <div class="li-boot"><a href="">Boot</a></div>
      </div>
    </div>
    <div class="link">
      <a>Big Sale</a>
    </div>
    <div class="link">
      <a>News</a>
    </div>
    <div class="link">
      <a>Contact us</a>
    </div>
  </div>
  <div class="header-right">
    <div class="icon search" routerLink="/search">
      <fa-icon [icon]="faSearch" title="Search"></fa-icon>
      <div class="input-search">
        <!-- <app-search></app-search> -->
        <!-- <input type="text" class="input" placeholder="Search" #filter />
        <button type="submit">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button> -->
      </div>
    </div>
    <div class="icon user">
      <fa-icon [icon]="faUser" title="User"></fa-icon>
      <div class="account">
        <ul>
          <li routerLink="/login"><span>Sign in</span></li>
          <li><span>Register</span></li>
          <li><button class="facebook">Facebook</button></li>
          <li><button class="google">Google</button></li>
        </ul>
      </div>
    </div>
    <div class="icon cart">
      <fa-icon [icon]="faCartPlus" title="Cart" routerLink="/cart"></fa-icon>
      <div class="circle-cart">
        <span>{{ totalQuantity }}</span>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
