<div class="container-header">
  <div class="header-left">
    <span>SHOE </span>
    <span>SHOP</span>
  </div>
  <div class="menu-nav header-mid">
    <div class="link">
      <a routerLink="/home">Home</a>
    </div>
    <div class="link">
      <a routerLink="/product">Products</a>
    </div>
    <div class="link">
      <a>Men</a>
    </div>
    <div class="link">
      <a>Women</a>
    </div>
    <div class="link">
      <a>Big Sale</a>
    </div>
    <div class="link">
      <a>News</a>
    </div>
    <div class="link">
      <a>Contact us</a>
    </div>
  </div>
  <div class="header-right">
    <div class="icon search">
      <fa-icon [icon]="faSearch" title="Search"></fa-icon>
    </div>
    <div class="icon user">
      <fa-icon [icon]="faUser" title="User"></fa-icon>
    </div>
    <div class="icon cart">
      <fa-icon [icon]="faCartPlus" title="Cart" routerLink="/cart"></fa-icon>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
