.container {
  width: 100%;
  height: 100px;
  background-color: whitesmoke;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

div {
  display: inline-block;
}

.menu-nav {
  color: black;
  font-size: 18px;
  margin: 10px, 10px;

}

.icon {
  margin-left: 40px;
  font-size: 30px;
}

.header-left {
  font-size: 70px;
  font-weight: bold;
}

.link {
  margin: 20px;
  font-size: 20px;
}

.link:active {
  opacity: 0.7;
}

.link a {
  text-decoration: none;
  color: black;
}