.container {
  background-color: rgba(218, 216, 216, 0.86);
  width: 100%;
  height: 315px;
}

.copyright {
  width: 100%;
  height: 40px;
  background-color: rgba(185, 184, 184, 0.851);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 34px;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  font-size: 24px;

}

.ft-span {
  margin: 10px;
}

.ft-button {
  color: white;
  margin: 10px;
  width: 75px;
  height: 30px;
  background-color: black;
  font-size: 18px;
}

.social {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  margin: 20px;
  font-size: 24px;
}

.social-icon:hover {
  color: red;
}

.footer-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.category {
  text-align: justify;
}

.category-span {
  font-weight: bold;
}