<div class="container text-center">
  <div class="row">
    <div class="col-xl-6">
      <div class="row">
        <div class="col-xl-12">
          <div class="info">
            <form action="" method="POST" [formGroup]="paymentF">
              <legend>Payment</legend>
              <div class="firstAndLast">
                <div class="first">
                  <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input
                      type="text"
                      name="firstName"
                      id="firstName"
                      formControlName="firstName"
                      style="width: 280px"
                    />
                  </div>
                  <div
                    *ngIf="
                      paymentF['controls']['firstName'].dirty &&
                      paymentF['controls']['firstName'].errors
                    "
                    class="validate"
                  >
                    <small
                      *ngIf="
                        paymentF['controls']['firstName'].errors['required']
                      "
                      [ngClass]="{ error: paymentF['controls']['note'].errors }"
                      >Please enter a First Name.</small
                    >
                    <small
                      *ngIf="
                        paymentF['controls']['firstName'].errors['minlength']
                      "
                      [ngClass]="{ error: paymentF['controls']['note'].errors }"
                      >First Name at least 3 characters</small
                    >
                    <small
                      *ngIf="
                        paymentF['controls']['firstName'].errors['maxlength']
                      "
                      [ngClass]="{ error: paymentF['controls']['note'].errors }"
                      >First Name up to 10 characters</small
                    >
                  </div>
                </div>
                <div class="last">
                  <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input
                      type="text"
                      name="lastName"
                      id="lastName"
                      formControlName="lastName"
                      style="width: 280px"
                    />
                  </div>
                  <div
                    class="validate"
                    *ngIf="
                      paymentF['controls']['lastName'].dirty &&
                      paymentF['controls']['lastName'].errors
                    "
                  >
                    <small
                      *ngIf="
                        paymentF['controls']['lastName'].errors['required']
                      "
                      [ngClass]="{ error: paymentF['controls']['note'].errors }"
                      >Please enter a Last Name.</small
                    >
                    <small
                      *ngIf="
                        paymentF['controls']['lastName'].errors['minlength']
                      "
                      [ngClass]="{ error: paymentF['controls']['note'].errors }"
                      >Last Name at least 3 characters</small
                    >
                    <small
                      *ngIf="
                        paymentF['controls']['lastName'].errors['maxlength']
                      "
                      [ngClass]="{ error: paymentF['controls']['note'].errors }"
                      >Last Name up to 10 characters</small
                    >
                  </div>
                </div>
              </div>
              <br />
              <div class="form-group">
                <label for="email">Email </label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  formControlName="email"
                />
              </div>
              <div
                *ngIf="
                  paymentF['controls']['email'].dirty &&
                  paymentF['controls']['email'].errors
                "
              >
                <small
                  *ngIf="paymentF['controls']['email'].errors['required']"
                  [ngClass]="{ error: paymentF['controls']['note'].errors }"
                  >Please enter a Email!</small
                >
                <small
                  *ngIf="paymentF['controls']['email'].errors['email']"
                  [ngClass]="{ error: paymentF['controls']['note'].errors }"
                  >Invalid Email Format (demo@gmail.com)</small
                >
              </div>
              <br />
              <div class="form-group">
                <label for="address">Address </label>
                <input
                  type="text"
                  name="address"
                  id="address"
                  formControlName="address"
                />
              </div>
              <div
                *ngIf="
                  paymentF['controls']['address'].dirty &&
                  paymentF['controls']['address'].errors
                "
              >
                <small
                  *ngIf="paymentF['controls']['address'].errors['required']"
                  [ngClass]="{ error: paymentF['controls']['note'].errors }"
                  >Please enter a Address!</small
                >
              </div>

              <br />
              <div class="form-group">
                <label for="phoneNumber">Phone Number </label>
                <input
                  type="number"
                  name="phoneNumber"
                  id="phoneNumber"
                  formControlName="phoneNumber"
                />
              </div>
              <div
                *ngIf="
                  paymentF['controls']['phoneNumber'].dirty &&
                  paymentF['controls']['phoneNumber'].errors
                "
              >
                <small
                  *ngIf="paymentF['controls']['phoneNumber'].errors['required']"
                  [ngClass]="{ error: paymentF['controls']['note'].errors }"
                  >Please enter a valid Phone Number</small
                >
                <small
                  *ngIf="
                    paymentF['controls']['phoneNumber'].errors['maxlength']
                  "
                  [ngClass]="{ error: paymentF['controls']['note'].errors }"
                  >Please enter a valid Phone Number</small
                >
              </div>
              <br />
              <div class="form-group">
                <label for="note">Note</label>
                <textarea
                  name="note"
                  formControlName="note"
                  id=""
                  cols="30"
                  rows="10"
                ></textarea>
              </div>
              <div
                *ngIf="
                  paymentF['controls']['note'].dirty &&
                  paymentF['controls']['note'].errors
                "
              >
                <small
                  *ngIf="paymentF['controls']['note'].errors['required']"
                  [ngClass]="{ error: paymentF['controls']['note'].errors }"
                  >Please enter a Note</small
                >
              </div>
              <br />

              <!-- <button (click)="onSubmit()" [disabled]="paymentF.invalid">
                Submit
              </button> -->
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="row">
        <div class="col-xl-12">
          <div class="payment">
            <div class="cart-checkout">
              <div class="checkout">
                <img src="assets/images/checkout-border.jpg" alt="" />
                <span>Your Order</span>
                <div class="oder">
                  <tr>
                    <td><span>Products</span></td>
                  </tr>
                  <tr class="items" *ngFor="let item of cardShoe">
                    <td>
                      <img
                        src="{{ item.image }}"
                        alt=""
                        style="
                          width: 60px;
                          height: 60px;
                          margin-top: 10px;
                          border-radius: 5px;
                        "
                      />
                    </td>
                    <td>
                      <span>{{ item.name }}-{{ item.size }}</span>
                    </td>
                    <td>
                      <span style="font-weight: bold">{{ item.price }}$</span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">Total</td>
                    <td>
                      <span>{{ total() }}$</span>
                    </td>
                  </tr>
                  <tr class="paymentTotal">
                    <td colspan="2">Total Payment</td>
                    <td>
                      <span>{{ total() }}$</span>
                    </td>
                  </tr>
                  <button (click)="onSubmit()" [disabled]="paymentF.invalid">
                    Order
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
