<!-- <div *ngFor="let a of items">
  <span>{{ a.name }}</span>
</div> -->
<div class="container text-center">
  <div class="row Cart">
    <div class="col-xl-12">
      <div class="your-cart">
        <div class="none-product" *ngIf="selectedShoeASize.length === 0">
          <img src="assets/images/cartempty.png" alt="" />
        </div>
        <div class="cart-table" *ngIf="selectedShoeASize.length > 0">
          <span class="your">Your Cart</span>
          <table class="table">
            <thead>
              <tr>
                <!-- <th scope="col">#img</th> -->
                <th scope="col" colspan="2"><span>Product</span></th>
                <th scope="col"><span>Price</span></th>
                <th scope="col"><span>Size</span></th>
                <th scope="col"><span>Quantity</span></th>
                <th scope="col"><span>Provisional</span></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let item of selectedShoeASize; index as i">
              <tr *ngFor="let res of item.sizeS | mapObject">
                <th scope="row"><img src="{{ item.image }}" alt="" /></th>
                <td>
                  <span>{{ item.name }}</span>
                </td>
                <td>
                  <span>{{ item.price }}$</span>
                </td>
                <td>
                  <span>{{ res.key }}</span>
                </td>
                <td>
                  <div class="quantity">
                    <input
                      [(ngModel)]="res.value"
                      type="number"
                      name="number"
                      min="0"
                      [value]="res.value"
                      (change)="updateQuantity(i, $event)"
                    />
                  </div>
                </td>
                <td>
                  <span>{{ res.value * item.price }}$</span>
                </td>
                <td class="delete">
                  <button (click)="deleteProduct(i)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="cart-checkout" *ngIf="selectedShoeASize.length > 0">
          <div class="return"></div>
          <div class="checkout">
            <img src="assets/images/checkout-border.jpg" alt="" />
            <span>Your Order</span>
            <div class="oder">
              <tr>
                <td colspan="2">Total</td>
                <td>
                  <span>{{ totalProductQuantity() }}</span>
                </td>
              </tr>
              <tr class="payment">
                <td colspan="2">Total Payment</td>
                <td>
                  <span>{{ total() }}$</span>
                </td>
              </tr>
              <button routerLink="/payment">Checkout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
