<!-- <div *ngFor="let a of items">
  <span>{{ a.name }}</span>
</div> -->
<div class="container text-center">
  <div class="row Cart">
    <div class="col-xl-12">
      <div class="your-cart">
        <div class="none-product" *ngIf="items.length === 0">
          <img src="assets/images/cartempty.png" alt="" />
        </div>
        <div class="cart-table" *ngIf="items.length > 0">
          <span class="your">Your Cart</span>
          <table class="table">
            <thead>
              <tr>
                <!-- <th scope="col">#img</th> -->
                <th scope="col" colspan="2"><span>Product</span></th>
                <th scope="col"><span>Price</span></th>
                <th scope="col"><span>Size</span></th>
                <th scope="col"><span>Quantity</span></th>
                <th scope="col"><span>Provisional</span></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let item of items; index as i">
              <tr>
                <th scope="row"><img src="{{ item.image }}" alt="" /></th>
                <td>
                  <span>{{ item.name }}</span>
                </td>
                <td>
                  <span>{{ item.price }}$</span>
                </td>
                <td>
                  <select name="size" id="" class="select-size">
                    <option value="" *ngFor="let item of item.size; index as i">
                      {{ item.size }}
                    </option>
                  </select>
                </td>
                <td>
                  <div class="quantity">
                    <!-- <input
                      type="button"
                      name="minus"
                      value="-"
                      id=""
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                    /> -->
                    <input
                      [(ngModel)]="item.quantity"
                      type="number"
                      name="number"
                      min="0"
                      [value]="item.quantity"
                      (change)="updateQuantity(i, $event)"
                    />
                    <!-- <input
                      type="button"
                      name="plus"
                      value="+"
                      id=""
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                    /> -->
                  </div>
                </td>
                <td>
                  <span>{{ item.price * item.quantity }}$</span>
                </td>
                <td class="delete">
                  <button (click)="deleteProduct(i)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="cart-checkout" *ngIf="items.length > 0">
          <div class="return"></div>
          <div class="checkout">
            <img src="assets/images/checkout-border.jpg" alt="" />
            <span>Your Order</span>
            <div class="oder">
              <tr>
                <td colspan="2">Total</td>
                <td>
                  <span>{{ totalProductQuantity() }}</span>
                </td>
              </tr>
              <tr class="payment">
                <td colspan="2">Total Payment</td>
                <td>
                  <span>{{ total() }}$</span>
                </td>
              </tr>
              <button>Checkout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
