.product-detail {
  padding-top: 30px;
}

/* product-detail-image */
.product-detail-image {
  /* background-color: yellow; */
  width: 100%;
  /* height: 900px; */
  display: flex;
  flex-direction: column;
}

.product-detail-image img {
  width: inherit;
  height: 500px;
  border: 1px solid #f2f2f2;
  object-fit: cover;
}

.product-detail-image .description h5 {
  padding-top: 10px;
  font-size: 25px;
  font-weight: bold;
  text-align: justify;

}

.product-detail-image .description ul {
  padding: 0;
  margin: 0;
  margin-left: 30px;
  list-style: disc;
}

.product-detail-image .description ul li {
  text-align: justify;
  padding-left: 10px;
}

.product-detail-image .history h5 {
  padding-top: 10px;
  font-size: 25px;
  font-weight: bold;
  text-align: justify;

}

.history p {
  text-align: left;
  margin-left: 10px;
}


/* end product-detail-image */





/* product-detail-text */
.product-detail-text {
  /* background-color: aqua; */
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.product-detail-text h5 {
  padding-top: 10px;
  font-size: 40px;
  font-weight: bold;
  text-align: justify;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}

.product-detail-text h4 {
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: justify;
  color: #FF3066;
}

.brand ul {
  float: left;
  margin: 0;
  padding: 0;
  text-align: justify;
}

.brand .span-brand {
  font-weight: bold;
  color: #FF3066;
}

.brand .span-status {
  font-weight: bold;
  color: #FF3066;
}

.colors-shoe {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

.colors-shoe .color {
  padding-top: 10px;
  width: 240px;
}

.colors-shoe span {
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  border-bottom: 1px solid #f2f2f2
}

/* circle color */
.colors-shoe .color .circle {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid #f2f2f2;
}

.colors-shoe .color .color-red {
  background-color: red;
}

.colors-shoe .color .color-white {
  background-color: white;
}

.colors-shoe .color .color-pink {
  background-color: pink;
}

.colors-shoe .color .color-black {
  background-color: black;
}

.colors-shoe .color .color-blue {
  background-color: blue;
}

.colors-shoe .color .color-green {
  background-color: green;
}

.colors-shoe .color .color-gray {
  background-color: gray;
}

.colors-shoe .color .color-brown {
  background-color: brown;
}

.colors-shoe .color .color-beige {
  background-color: beige;
}

.colors-shoe .color .color-purple {
  background-color: purple;
}

.colors-shoe .color .color-orange {
  background-color: orange;
}

.colors-shoe .color .color-yellow {
  background-color: yellow;
}

.colors-shoe .color ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.colors-shoe .color ul li {
  margin: 3px 5px;
  transition: 0.1s;
}

.colors-shoe .color ul li div:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* size */
.sizes-shoe {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

.sizes-shoe span {
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  border-bottom: 1px solid #f2f2f2;
}

.sizes-shoe .sizes .form-group {
  padding-top: 10px;
  text-align: left;
}

.sizes-shoe .sizes .form-group .form-select {
  width: 140px;
}

/* quantity */
.quantity-shoe {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

.quantity-shoe .d-flex {
  margin-top: 10px;
}


.quantity-shoe .d-flex input {
  width: 40px;
}

.quantity-shoe span {
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  border-bottom: 1px solid #f2f2f2;
}

/* check */
.check {
  padding-top: 15px;
}

.check button {
  width: 170px;
  background-color: #FF3066;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
  float: left;
}

.check button:hover {
  background-color: #ffffff;
  color: #FF3066;
  border: #FF3066 1px solid;
}

/* end check */

/* end product-detail-text */

/* product-detail-ship */
.product-detail-ship {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.product-detail-ship .promotion img {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  border-radius: 10px;
}

.ship {
  width: inherit;
  height: 200px;
  border: 2px solid #f2f2f2;
}

.ship img {
  width: 60px;
  height: 60px;
  float: left;
}

.ship ul {
  margin: 0;
  padding: 0;
}

.delivery p {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.ship .delivery {
  float: left;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ship .return {
  float: left;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.return p {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.ship .sale {
  float: left;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sale p {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

/*end product-detail-ship */