<!-- <div class="container-list-shoe">
  <div *ngFor="let shoe of shoes" class="product-shoe">
    <img src="{{ shoe.image }}" alt="" class="img-shoe" />
    <h3>
      <a
        [title]="shoe.name + ' details'"
        [routerLink]="['/products', shoe.id]"
        >{{ shoe.name }}</a
      >
    </h3>
    <p *ngIf="shoe.description">Description: {{ shoe.description }}</p>
  </div>
</div> -->

<div class="container text-center">
  <div class="row">
    <div class="col-xl-2">
      <div class="category-shoe">
        <h5>Category product</h5>
        <nav class="nav-category">
          <ul class="nav-ul-category">
            <li class="nav-item nav-men">
              <a href="">Men</a>
              <label for="btn-check-drop">
                <fa-icon [icon]="faCaretDown"></fa-icon>
              </label>
              <input type="checkbox" name="" id="btn-check-drop" />
              <ul class="dropdown-men">
                <li><a href="">Sneaker</a></li>
                <li><a href="">Sandal</a></li>
                <li><a href="">Boot</a></li>
              </ul>
            </li>
            <li class="nav-item nav-women">
              <a href="">Women</a>
              <label for="btn-check-drop-women">
                <fa-icon [icon]="faCaretDown"></fa-icon>
              </label>
              <input type="checkbox" name="" id="btn-check-drop-women" />
              <ul class="dropdown-women">
                <li><a href="">Sneaker</a></li>
                <li><a href="">Sandal</a></li>
                <li><a href="">Boot</a></li>
              </ul>
            </li>
            <li class="nav-item nav-sandal">
              <a href="">Sandal</a>
              <label for="btn-check-drop-sandal">
                <fa-icon [icon]="faCaretDown"></fa-icon>
              </label>
              <input type="checkbox" name="" id="btn-check-drop-sandal" />
              <ul class="dropdown-sandal">
                <li><a href="">Sneaker</a></li>
                <li><a href="">Sandal</a></li>
                <li><a href="">Boot</a></li>
              </ul>
            </li>
            <li class="nav-item nav-street-wear">
              <a href="">Street wear</a>
              <label for="btn-check-drop-street-wear">
                <fa-icon [icon]="faCaretDown"></fa-icon>
              </label>
              <input type="checkbox" name="" id="btn-check-drop-street-wear" />
              <ul class="dropdown-street-wear">
                <li><a href="">Sneaker</a></li>
                <li><a href="">Sandal</a></li>
                <li><a href="">Boot</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-xl-10">
      <div class="row">
        <div class="allShoe">
          <div class="name-AllShoe">
            <span>All products</span>
          </div>
          <div class="arrange-AllShoe">
            <label for="arrange">Arrange:</label>
            <select class="form-select">
              <option selected>Default</option>
              <option value="1">A → Z</option>
              <option value="2">Z → A</option>
              <option value="3">Prices increase gradually</option>
              <option value="4">Prices decrease gradually</option>
            </select>
          </div>
        </div>
        <div
          class="col-xl-4 col-md-6 col-sm-12 product-shoe"
          *ngFor="let shoe of shoes"
        >
          <div class="container-list-shoe">
            <div class="btn-addToCart">
              <img src="{{ shoe.image }}" alt="" class="img-shoe" />
              <button
                type="submit"
                class="btn-submit-cart"
                (click)="addToCart(shoe)"
              >
                ADD TO CART
              </button>
            </div>
            <div class="shoe-name">
              <h3>
                <a
                  [title]="shoe.name + ' details'"
                  [routerLink]="['/products', shoe.id]"
                  >{{ shoe.name }}</a
                >
              </h3>
            </div>
            <div>
              <h6>{{ shoe.price | number : "1.0-2" }}$</h6>
            </div>
            <!-- <p *ngIf="shoe.description">
                Description: {{ shoe.description }}
              </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
