<!-- <div class="container-list-shoe">
  <div *ngFor="let shoe of shoes" class="product-shoe">
    <img src="{{ shoe.image }}" alt="" class="img-shoe" />
    <h3>
      <a
        [title]="shoe.name + ' details'"
        [routerLink]="['/products', shoe.id]"
        >{{ shoe.name }}</a
      >
    </h3>
    <p *ngIf="shoe.description">Description: {{ shoe.description }}</p>
  </div>
</div> -->
<app-search (searchTextChanged)="onSearch($event)"></app-search>

<div class="container text-center">
  <div class="row">
    <div class="col-xl-2">
      <div class="row">
        <div class="col-xl-12">
          <div class="category-product">
            <div class="category-shoe">
              <h5>Category product</h5>
              <nav class="nav-category">
                <ul class="nav-ul-category">
                  <li class="nav-item nav-men">
                    <a href="">Men</a>
                    <label for="btn-check-drop">
                      <fa-icon [icon]="faCaretDown"></fa-icon>
                    </label>
                    <input type="checkbox" name="" id="btn-check-drop" />
                    <ul class="dropdown-men">
                      <li><a href="">Sneaker</a></li>
                      <li><a href="">Sandal</a></li>
                      <li><a href="">Boot</a></li>
                    </ul>
                  </li>
                  <li class="nav-item nav-women">
                    <a href="">Women</a>
                    <label for="btn-check-drop-women">
                      <fa-icon [icon]="faCaretDown"></fa-icon>
                    </label>
                    <input type="checkbox" name="" id="btn-check-drop-women" />
                    <ul class="dropdown-women">
                      <li><a href="">Sneaker</a></li>
                      <li><a href="">Sandal</a></li>
                      <li><a href="">Boot</a></li>
                    </ul>
                  </li>
                  <li class="nav-item nav-sandal">
                    <a href="">Sandal</a>
                    <label for="btn-check-drop-sandal">
                      <fa-icon [icon]="faCaretDown"></fa-icon>
                    </label>
                    <input type="checkbox" name="" id="btn-check-drop-sandal" />
                    <ul class="dropdown-sandal">
                      <li><a href="">Sneaker</a></li>
                      <li><a href="">Sandal</a></li>
                      <li><a href="">Boot</a></li>
                    </ul>
                  </li>
                  <li class="nav-item nav-street-wear">
                    <a href="">Street wear</a>
                    <label for="btn-check-drop-street-wear">
                      <fa-icon [icon]="faCaretDown"></fa-icon>
                    </label>
                    <input
                      type="checkbox"
                      name=""
                      id="btn-check-drop-street-wear"
                    />
                    <ul class="dropdown-street-wear">
                      <li><a href="">Sneaker</a></li>
                      <li><a href="">Sandal</a></li>
                      <li><a href="">Boot</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="category-prices">
              <aside class="name-prices">
                <h5 class="name">Price</h5>
              </aside>
              <div class="prices-input">
                <nav class="nav-prices">
                  <ul>
                    <li>
                      <input type="checkbox" name="" id="filter2" />
                      <span><label for="filter2">500$ - 1000$</label></span>
                    </li>
                    <li>
                      <input type="checkbox" name="" id="filter3" />
                      <span><label for="filter3">1000$ - 1500$</label></span>
                    </li>
                    <li>
                      <input type="checkbox" name="" id="filter4" />
                      <span><label for="filter4">1500$ - 3000$</label></span>
                    </li>
                    <li>
                      <input type="checkbox" name="" id="filter5" />
                      <span><label for="filter5">over 3000$</label></span>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>

            <div class="category-colors">
              <aside class="name-colors">
                <h5 class="name">Color</h5>
              </aside>
              <div class="colors-input">
                <ul>
                  <li>
                    <input type="checkbox" name="" id="filter-yellow" />
                    <span><label for="filter-yellow">Yellow</label></span>
                  </li>
                  <li>
                    <input type="checkbox" name="" id="filter-red" />
                    <span><label for="filter-red">Red</label></span>
                  </li>
                  <li>
                    <input type="checkbox" name="" id="filter-white" />
                    <span><label for="filter-white">White</label></span>
                  </li>
                  <li>
                    <input type="checkbox" name="" id="filter-black" />
                    <span><label for="filter-black">Black</label></span>
                  </li>
                  <li>
                    <input type="checkbox" name="" id="filter-pink" />
                    <span><label for="filter-pink">Pink</label></span>
                  </li>
                  <li>
                    <input type="checkbox" name="" id="filter-orange" />
                    <span><label for="filter-orange">Orange</label></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-10">
      <div class="row">
        <div class="allShoe">
          <div class="name-AllShoe">
            <span>All products</span>
          </div>
          <div class="arrange-AllShoe">
            <label for="arrange">Arrange:</label>
            <select class="form-select">
              <option selected>Default</option>
              <option value="1">A → Z</option>
              <option value="2">Z → A</option>
              <option value="3">Price low to high</option>
              <option value="4">Price high to low</option>
            </select>
          </div>
        </div>

        <div
          class="col-xl-4 col-md-6 col-sm-12 product-shoe"
          *ngFor="let shoe of shoes; index as i"
        >
          <div
            class="container-list-shoe"
            *ngIf="
              searchText === '' ||
              shoe.name.toLowerCase().includes(searchText.toLowerCase())
            "
          >
            <div class="btn-addToCart">
              <img src="{{ shoe.image }}" alt="" class="img-shoe" />

              <div class="showSize" id="{{ i }}">
                <div class="size">
                  <div class="size-btn-close">
                    <button (click)="closeShow(i)">
                      <fa-icon [icon]="faXmark"></fa-icon>
                    </button>
                  </div>
                  <span>Size</span>
                  <form action="" method="POST" [formGroup]="submitSize">
                    <div class="form-group">
                      <select
                        name="size"
                        id="size"
                        formControlName="size"
                        [(ngModel)]="selected"
                      >
                        <option value="">Select a size</option>
                        <option *ngFor="let item of shoe.size">
                          {{ item }}
                        </option>
                      </select>
                      <div
                        *ngIf="
                          submitSize['controls']['size'].dirty &&
                          submitSize['controls']['size'].errors
                        "
                      >
                        <small
                          *ngIf="
                            submitSize['controls']['size'].errors['required']
                          "
                          >Choose a size</small
                        >
                      </div>
                    </div>
                    <div class="size-btn-addCart">
                      <button
                        type="submit"
                        class="changeColor"
                        (click)="addToCart(shoe, selected)"
                        [disabled]="submitSize.invalid"
                      >
                        ADD TO CART
                      </button>
                    </div>
                  </form>
                  <!-- <select name="size" id="">
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                  </select>
                  <div class="size-btn-addCart">
                    <button type="submit" class="" (click)="addToCart(shoe)">
                      ADD TO CART
                    </button>
                  </div> -->
                </div>
              </div>
              <button
                type="submit"
                class="btn-submit-cart"
                *ngIf="approve"
                (click)="onShow(i)"
              >
                ADD TO CART
              </button>
              <!-- <button
                type="submit"
                class="btn-submit-cart"
                (click)="addToCart(shoe)"
              >
                ADD TO CART
              </button> -->
            </div>
            <div class="shoe-name">
              <h3>
                <a
                  [title]="shoe.name + ' details'"
                  [routerLink]="['/products', shoe.id]"
                  >{{ shoe.name }}</a
                >
              </h3>
            </div>
            <div>
              <h6>{{ shoe.price | number : "1.0-2" }}$</h6>
            </div>
            <!-- <p *ngIf="shoe.description">
                Description: {{ shoe.description }}
              </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
