.product-shoe a {
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.product-shoe a:hover {
  color: #FF3066;
}

.container-list-shoe {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.selected {
  color: #30d9ff;
}



.product-shoe {
  width: 250px;
  height: 340px;
  /* background-color: rgb(215, 214, 214); */
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  margin: 0 0 10px 0;

}

.img-shoe {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 10px 10px;
}

.container-list-shoe:hover .btn-addToCart .btn-submit-cart {
  visibility: visible;
  bottom: 0;
  opacity: 1;
}


.row {
  justify-content: center;
}


/* Category */
.category-product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.category-shoe {
  width: 100%;
}

.container-list-shoe h6 {
  color: #FF3066;
}

.btn-addToCart {
  position: relative;
}

.container-list-shoe .showSize {
  position: absolute;
  top: 0;
  display: none;
}

.container-list-shoe .showSize .size {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 240px;
  height: 240px;
  align-items: center;
  /* opacity: 0.9; */

}


.container-list-shoe .showSize .size select {

  width: 170px;
  height: 35px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;

}

.container-list-shoe .showSize .size .size-btn-close {
  width: inherit;
}

.container-list-shoe .showSize .size .size-btn-close button {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 10px;
  border: none;
  background-color: white;
  margin-bottom: 5px;
}

.container-list-shoe .showSize .size .size-btn-addCart button {
  width: 170px;
  height: 40px;
  background-color: #FF3066;
  border: none;
  border-radius: 10px;
  color: #fff;
  margin-top: 50px;
  font-weight: bold;
}

button.changeColor {
  background-color: orange;
}

.container-list-shoe .showSize .size .size-btn-addCart button:active {
  opacity: 0.7;
}


.container-list-shoe .showSize .size span {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.btn-addToCart input {
  width: 50px;
  height: 50px;


}

.btn-addToCart .btn-submit-cart {
  position: absolute;
  bottom: -20px;
  left: 0;
  opacity: 0;
  transition: 0.2s;
  transition-delay: 0.1s;
}

.btn-submit-cart:hover {
  color: #FF3066;
  background-color: white;
  border: solid 1px #FF3066;
}

.btn-submit-cart:active {
  background-color: black;
  opacity: 0.5;
}

.btn-submit-cart {
  width: 240px;
  height: 40px;
  font-weight: bold;
  background-color: #FF3066;
  border: none;
  color: white;
  visibility: hidden;
  transition-delay: 0.1s;
}

.shoe-name {
  width: 240px;
}

.allShoe {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.name-AllShoe {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
}

.arrange-AllShoe {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.arrange-AllShoe label {
  margin-right: 10px;
  font-size: 16px;

}

.category-shoe {
  padding-top: 25px;

}

.col-xl-2 {
  padding-left: 0;
  padding-right: 0;
}

.category-shoe h5 {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 5px;
  border-bottom: 2px #FF3066 solid;
  float: left;
  margin-left: 5px;
}

/* ul li category */
.nav-ul-category {
  margin-bottom: 0;
  padding-left: 0;
  float: left;
  text-align: justify;
  width: 100%;
}

.nav-ul-category a {
  text-decoration: none;
  color: black;

}

.nav-category li {
  margin: 10px;

}

.nav-ul-category li a:hover {
  font-weight: bold;
  cursor: pointer;
  color: #FF3066;
}

.nav-category .nav-item:not(:last-child) {
  padding-bottom: 8px;
  border-bottom: 2px solid #F2F2F2;
}

.nav-item {
  font-size: 18px;
}

.nav-item label {
  float: right;
  cursor: pointer;
}

/* nav-men */
.nav-men .dropdown-men {
  display: none;
}

.nav-men input {
  display: none;
}

[id^=btn]:checked+ul {
  display: block;
}


.dropdown-men {
  padding-left: 0;
  font-size: 16px;
}

.dropdown-men ul li a:hover {
  font-weight: bold;
  color: #FF3066;
}

/* end nav-men */








/* nav-women */

.nav-women .dropdown-women {
  display: none;
}

.dropdown-women {
  padding-left: 0;
}

.nav-women input {
  display: none;
}

[id^=btn-check-drop-women]:checked+ul {
  display: block;
}


.dropdown-women {
  padding-left: 0;
  font-size: 16px;
}

.dropdown-women ul li a:hover {
  font-weight: bold;
  color: #FF3066;
}

/*end nav-women */






/* sandal */

.nav-sandal .dropdown-sandal {
  display: none;
}

.dropdown-sandal {
  padding-left: 0;
}

.nav-sandal input {
  display: none;
}

[id^=btn-check-drop-sandal]:checked+ul {
  display: block;
}


.dropdown-sandal {
  padding-left: 0;
  font-size: 16px;
}

.dropdown-sandal ul li a:hover {
  font-weight: bold;
  color: #FF3066;
}

/* end sandal */



/* street wear */


.nav-street-wear .dropdown-street-wear {
  display: none;
}

.dropdown-street-wear {
  padding-left: 0;
}

.nav-street-wear input {
  display: none;
}

[id^=btn-check-drop-street-wear]:checked+ul {
  display: block;
}


.dropdown-street-wear {
  padding-left: 0;
  font-size: 16px;
}

.dropdown-street-wear ul li a:hover {
  font-weight: bold;
  color: #FF3066;
}

/* end street wear */
/* end ul li category */


.category-product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* category-prices */
.category-prices {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 200px;
}

.name-prices .name {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 5px;
  border-bottom: 2px #FF3066 solid;
}

.name {
  width: 100%;
  float: left;
  text-align: left;
}


.prices-input ul {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: 10px;
  position: absolute;
}

.prices-input ul li {
  margin-bottom: 10px;
  text-align: justify;
}

.nav-prices label {
  cursor: pointer;
}

.prices-input ul li span:hover {
  color: #FF3066;
  font-weight: bold;
}

.prices-input input[type="checkbox"] {
  margin-right: 20px;
}

/*end category-prices */





/* category color */
.category-colors {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.name-colors .name {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 5px;
  border-bottom: 2px #FF3066 solid;
  /* padding-top: 130px; */
}

.colors-input ul {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

.colors-input ul li {
  margin-bottom: 10px;
  text-align: justify;

}

.colors-input label {
  cursor: pointer;
}

.colors-input input[type="checkbox"] {
  margin-right: 20px;
}

.colors-input ul li span:hover {
  color: #FF3066;
  font-weight: bold;
}

/* end category color */