:root {
  --primary-color1: #FF3066;
}

.product-shoe a {
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.product-shoe a:hover {
  color: #FF3066;
}

.container-list-shoe {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product-shoe {
  width: 240px;
  height: 340px;
  /* background-color: rgb(215, 214, 214); */
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  margin: 10px 10px;

}

.img-shoe {
  width: inherit;
  height: 240px;
  object-fit: cover;
  border-radius: 10px 10px;
}

.container-list-shoe:hover .btn-addToCart .btn-submit-cart {
  visibility: visible;
  bottom: 0;
  opacity: 1;
}

.row {
  justify-content: center;
}

.category-shoe {
  background-color: orange;
  width: 100%;
  height: 100vh;
}

.container-list-shoe h6 {
  color: #FF3066;
}

.btn-addToCart {
  position: relative;
}

.btn-addToCart .btn-submit-cart {
  position: absolute;
  bottom: -20px;
  left: 0;
  opacity: 0;
  transition: 0.2s;
  transition-delay: 0.1s;
}

.btn-submit-cart:hover {
  color: #FF3066;
  background-color: white;
  border: solid 1px #FF3066;
}

.btn-submit-cart {
  width: 240px;
  height: 40px;
  font-weight: bold;
  background-color: #FF3066;
  border: none;
  color: white;
  visibility: hidden;
}

.shoe-name {
  width: 240px;
}

/* Mobile: width < 740px */
/* Tablet: width >= 740px and width < 1024px */