<app-carousel [images]="images" [autoSlide]="true"></app-carousel>

<div class="home">
  <div class="home-banner">
    <img src="assets/images/sale-Banner.jpg" alt="" />
    <span>Sale: Up to 50% off Select Style*</span>
  </div>
  <div class="shop-by-style">
    <span>Shop By Style</span>
    <div class="promotion">
      <ul>
        <li><img src="assets/images/shopbystyle1.jpg" alt="" /></li>
        <li><img src="assets/images/shopbystyle2.jpg" alt="" /></li>
        <li><img src="assets/images/shopbystyle3.jpg" alt="" /></li>
        <li><img src="assets/images/shopbystyle4.jpg" alt="" /></li>
      </ul>
    </div>
  </div>
  <div class="new-arrivals">
    <span>New Arrivals</span>
    <div class="promotion">
      <!-- men -->
      <span
        ><fa-icon [icon]="faArrowRight"></fa-icon><a href="">Shop Men</a></span
      >
      <div class="pro-men">
        <ul class="men">
          <li>
            <img src="assets/images/menshop.jpg" alt="" />
          </li>
          <!-- <li><img src="assets/images/womenshop.jpg" alt="" /></li> -->
        </ul>
        <ul class="shoe-men">
          <li><img src="assets/images/shoemen.jpg" alt="" /></li>
          <li><img src="assets/images/shoemen2.jpg" alt="" /></li>
        </ul>
      </div>
      <!-- women -->
      <span class="text-women"
        ><a href="">Shop Women</a><fa-icon [icon]="faArrowLeft"></fa-icon
      ></span>
      <div class="pro-women">
        <ul class="women">
          <li>
            <img src="assets/images/womenshop.jpg" alt="" />
          </li>
          <!-- <li><img src="assets/images/womenshop.jpg" alt="" /></li> -->
        </ul>
        <ul class="shoe-women">
          <li><img src="assets/images/shoewomen.jpg" alt="" /></li>
          <li><img src="assets/images/shoewomen2.jpg" alt="" /></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="service">
    <div class="your-service shipping">
      <fa-icon [icon]="faTruckFast"></fa-icon>
      <span>Fast, Free Shipping</span>
      <p>Orders over 100$ ship for free. Express delivery of the day.</p>
      <a href="#">Lean More</a>
    </div>
    <div class="your-service return">
      <fa-icon [icon]="faArrowsSpin"></fa-icon>
      <span>Worry-Free Returns</span>
      <p>Not happy? Return your order within 30 days for free.</p>
      <a href="#">Lean More</a>
    </div>
    <div class="your-service package">
      <fa-icon [icon]="faBoxes"></fa-icon>
      <span>Track Your Package</span>
      <p>Curious where your order is? Check your status at any time.</p>
      <a href="#">Lean More</a>
    </div>
  </div>
</div>
