<p>home works!</p>
<!-- slide show container -->
<div class="row">
  <div class="col-sm-6">
    <h1>123</h1>
  </div>
  <div class="row">
    <div class="col-sm bg-primary text-white">25%</div>
    <div class="col-sm bg-dark text-white">25%</div>
    <div class="col-sm bg-primary text-white">25%</div>
    <div class="col-sm bg-dark text-white">25%</div>
  </div>
  <div class="dropdown">
    <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Dropdown
    </button>
    <ul class="dropdown-menu">
      <li>
        <button class="dropdown-item" type="button">Dropdown item</button>
      </li>
      <li>
        <button class="dropdown-item" type="button">Dropdown item</button>
      </li>
      <li>
        <button class="dropdown-item" type="button">Dropdown item</button>
      </li>
    </ul>
  </div>
</div>
