<div class="container text-center">
  <div class="row">
    <div class="col-xl-12 admin">
      <div class="form-login">
        <form action="" method="post">
          <div class="imgcontainer">
            <img src="assets/images/lion.jpg" alt="Avatar" class="avatar" />
          </div>

          <div class="containerUser">
            <label for="uname"><b>Username</b></label>
            <input
              type="text"
              placeholder="Enter Username"
              name="uname"
              required
            />

            <label for="psw"><b>Password</b></label>
            <input
              type="password"
              placeholder="Enter Password"
              name="psw"
              required
            />

            <button type="submit">Login</button>
            <label>
              <input type="checkbox" checked="checked" name="remember" />
              Remember me
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
