.admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid grey;
}

h4 {
  font-weight: bold;
  font-size: 50px
}

/* CRUD */
.admin .CRUD-Product {
  width: 100%;
  margin-bottom: 50px;
}

.admin .CRUD-Product table th {
  font-weight: bold;
}


.admin .search-product {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px
}

.admin .search-product .search-item {
  display: flex;
  align-items: center;
}

.admin .search-product .search-item label,
input,
button {
  margin-left: 5px;
  font-weight: bold;
}

.admin .search-product .search-item input {
  width: 250px;
  height: 38px;
}

/* end CRUD */