<div class="container text-center">
  <div class="row">
    <div class="col-xl-12 admin">
      <h4>ALL ITEMS</h4>
      <div class="search-product">
        <div class="search-item">
          <label for="search">SEARCH</label>
          <input
            type="text"
            name="search"
            id=""
            placeholder="Search product"
            #search
            (keyup.enter)="searchItems(search.value)"
          />
          <button
            type="button"
            class="btn btn-secondary"
            (click)="searchItems(search.value)"
          >
            Search
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary" routerLink="/admin/add">
            Add product
          </button>
        </div>
      </div>
      <hr />
      <div class="CRUD-Product">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">IMAGE</th>
              <th scope="col">NAME</th>
              <th scope="col">PRICE</th>
              <th scope="col">QUANTITY</th>
              <th scope="col">ACTION</th>
            </tr>
          </thead>
          <tbody
            *ngFor="
              let item of shoes
                | paginate : { itemsPerPage: 10, currentPage: pageNumber };
              index as i
            "
          >
            <tr>
              <td>{{ item.id }}</td>
              <td>
                <img
                  src="{{ item.image }}"
                  alt=""
                  style="width: 60px; height: 60px"
                />
              </td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.quantity }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-success"
                  routerLink="/admin/edit/{{ item.id }}"
                >
                  Edit
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="deleteItem(item.id)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls
          (pageChange)="pageNumber = $event"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
