<div *ngIf="images && images.length > 0" class="carousel4-container">
  <img
    *ngFor="let img of images; index as i"
    [src]="img.imgSrc"
    alt=""
    [ngClass]="{ 'image-active': selectedIndex === i }"
    class="fade-img"
  />
  <div *ngIf="indicators" class="carousel4-dot-container">
    <span
      *ngFor="let dot of images; index as i"
      class="dot"
      [ngClass]="{ active: selectedIndex === i }"
      (click)="selectedImage(i)"
    ></span>
  </div>
  <div *ngIf="controls" class="btn-carousel btn-prev">
    <fa-icon
      [icon]="faArrowCircleLeft"
      class="icon-carousel"
      (click)="onPrevClick()"
    ></fa-icon>
  </div>
  <div class="btn-carousel btn-next">
    <fa-icon
      [icon]="faArrowCircleRight"
      class="icon-carousel"
      (click)="onNextClick()"
    ></fa-icon>
  </div>
</div>
